#main-area {
  width: 100%;
  .contact-area {
    @include flexible(center, center, column);
    .up-side {
      margin-top: 30px;
      margin-bottom: 30px;
      @include flexible(center, center, column);
      &::after {
        background-color: $black_color;
        width: 70px;
        height: 1px;
        margin: 10px auto;
        display: block;
        content: "";
      }
      span {
        @media only screen and (max-width: 768px) {
          @include TextFont($f_size: $p_size);
        }
        @include TextFont(
          $f_size: $h1_size,
          $f_color: $black_color,
          $text_decaration: uppercase
        );
      }
    }
    .down-side{
        p{
            @include TextFont($f_size:$p_size, $f_color:$black_color, $text_weight:300,$text_align:center);
            span{
                @include TextFont($text_weight:bold);
            }
        }
    }
  }
}
